<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hackFest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31D708B91D6861C700B3497B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31D708CD1D6861CB00B3497B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31D708D81D6861CC00B3497B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
